<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- <plugins>
        <plugin interceptor="com.vdlm.dal.interceptor.MyBatisInterceptor">
        </plugin>
    </plugins> -->
    <typeAliases>
                <typeAlias alias="Demo" type="com.zhushou.test1.model.domain.Demo"/>
		<typeAlias alias="User" type="com.zhushou.test1.model.domain.User"/>
		</typeAliases>

    <mappers>
                <mapper resource="mapper/DemoMapper.xml"/>
		<mapper resource="mapper/UserMapper.xml"/>
		</mappers>

</configuration>